* {
    primary: #d9c76f;
    primary-fixed: #f7e388;
    primary-fixed-dim: #d9c76f;
    on-primary: #393000;
    on-primary-fixed: #211b00;
    on-primary-fixed-variant: #524600;
    primary-container: #524600;
    on-primary-container: #f7e388;
    secondary: #d0c6a2;
    secondary-fixed: #ede2bc;
    secondary-fixed-dim: #d0c6a2;
    on-secondary: #363016;
    on-secondary-fixed: #201c04;
    on-secondary-fixed-variant: #4d472b;
    secondary-container: #4d472b;
    on-secondary-container: #ede2bc;
    tertiary: #a9d0b4;
    tertiary-fixed: #c4eccf;
    tertiary-fixed-dim: #a9d0b4;
    on-tertiary: #133723;
    on-tertiary-fixed: #002110;
    on-tertiary-fixed-variant: #2b4e39;
    tertiary-container: #2b4e39;
    on-tertiary-container: #c4eccf;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #15130b;
    on-surface: #e8e2d4;
    on-surface-variant: #cdc6b4;
    outline: #969080;
    outline-variant: #4a4739;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e8e2d4;
    inverse-on-surface: #333027;
    inverse-primary: #6c5e0f;
    surface-dim: #15130b;
    surface-bright: #3c3930;
    surface-container-lowest: #100e07;
    surface-container-low: #1e1c13;
    surface-container: #222017;
    surface-container-high: #2c2a21;
    surface-container-highest: #37352b;
}
